<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loverian.newslive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchercustom"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Details"
            android:parentActivityName=".NewsMain"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".Yt"
            android:parentActivityName=".NewsMain"
            android:screenOrientation="portrait" />
        <activity android:name=".NewsMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9446309403004323~2591116548" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>